.container_barChart {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.barChart_left {
    width: 49.999%;
    height: auto;
}

.barChart_right {
    width: 49.999%;
    height: auto;
}