#table_estatisticas {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: calc(8px + 1vw);
    border-collapse: collapse;
    min-width: 500px;
    height: auto;
    table-layout: auto;
}

#table_estatisticas td {
    border: 5px solid white;
    padding: 8px;
    text-align: center;
}

#table_estatisticas .indicador {
  text-align: left;
}

/* #table_estatisticas th:last-child{background-color: #658D1D;} */


#table_estatisticas td:nth-child(3){background-color: #E7E7E7;}

.green_cell {
    background-color: #658D1D;
    text-align: center;
}

.red_cell {
    background-color: #98302F;
    text-align: center;
}

#table_estatisticas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #013044;
    color: white;
}