
.doughnut_chart {
    margin: 30px 0;
    width: auto;
    height: auto;

}

.doughnut_chart canvas {
    width: 100% !important;
    height: auto !important;
    max-width: 500px;
    max-height: 500px;
}